ul.roommateList li {
    list-style-type:disc;
    margin:0px 0px 0px 40px;
}

ul.registrationOptions li {
    margin-left:45px;
    list-style-type:disc;
}

.bedOccupant {
    display:block;
    float:left;
    margin-right:15px;
}

span.bedOccupant {
    width:200px;
}

input.bedOccupant {
    width:90px;
}

input.bedReserved {
    width:200px;
}

table.tableRoomAvailability > tbody > tr {
    height:33px;
}

table.tableRoomAvailability > tbody > tr > td:first-child {
    padding-right:10px;
}

.sendInvitationDetail {
    padding:4px 6px;
    border:3px solid #808080;
    font-weight:bold;
    background-color: #fff26d;
    color: #000000;
    width:fit-content;
}